
<div class="top_display">
  <div class="top_image">
    <img src="<%= asset_path("background-1872802_1280.jpg")%> ">
  </div>


  <h1>Pictureを投稿する</h1>

  <p>InstagramCloneは、体験、経験を公開するためのサービスです。</p>
  <p>いつでも、どこでも、何度でも投稿しよう！！</p>

  <br>
  <br>

  <a href="<%= new_user_path %>"<button class="btn btn-info">Pictureを開設する</button></a>

</div>
